html{
	font-size: 14px;
	font-family: sans-serif;
}
header{
	background-color:#CAE1E8;
	text-align: center;
}
footer{
	background-color:#878787;
	text-align: center;
}
aside{
	background-color:#9BD7EB;
}
nav{
	background-color:#BFF2D5;
}
section{
	position:relative;
	margin-right:100px;
	margin-left:100px;
	padding-bottom:10px;
}

.header{
	font-size: 46px;
	background-color: #F02BEC;
}
.footer{
	position:relative;
	font-size: 10px;
	background-color: #F02BEC;
	position:absolute;
	width: 100%;
	left:0px;
	bottom:0px;
}
.content{
	font-size: 14px;
}
.navigation{
	position:absolute;
	font-size: 12px;
	background-color:blue;
	left:0px;
	width:100px;
	height:100%;
}
.sidebar{
	position:absolute;
	width:100px;
	height:100%;
	font-size: 10px;
	background-color: #F02BEC;
	right:0px;
}
.item{
   	position:relative;
   	float:left;
   	border:1px solid #000;
   	padding:10px;
   	margin:5px;
   	width: calc(33% - 32px);
   	height:auto;
}
@media all and (max-width: 600px) {
	.item{
		position:relative;
		float:left;
		border:1px solid #000;
		padding:10px;
		margin:5px;
		width: calc(50% - 32px);
		height:auto;
	}
}
        	
.itemImage{
	width:100%;
}
.overlay{
	display:none;	
}
.item:hover .overlay{
	display:block;
	position:absolute;
	width:calc(100% - 40px);
	padding:10px;
	background-color:#000;
	color:#FFF;
	opacity:0.8;
}